.button {
    inline-size: 48px;
    block-size: 48px;
    border: none;
    background-color: rgba(255, 255, 255, .2);
    padding: 8px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

button:active {
    transform: scale(.9);
}

#play {
    background-image: url(../images/play.svg);
}

#pause {
    background-image: url(../images/pause.svg);
}

#backward {
    background-image: url(../images/-10.svg);
}

#forward {
    background-image: url(../images/+10.svg);
}